/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  border-radius: 50%;
}

.hero__title {
  font-size: 2.5rem;
  margin-bottom: 0;
}
.description {
  text-align: left;
}

.social i {
  color: white;
  margin-right: 10px;
}

.social i:hover {
  color: rgb(71, 81, 224);
}
.hero__subtitle {
  margin-bottom: 5px;
}
